
# =========================
# HIGH MODEL
# =========================
HIGH_MODEL_NAME=
HIGH_MODEL_BASE_URL=
HIGH_MODEL_API_KEY=

# =========================
# NORMAL MODEL
# =========================
NORMAL_MODEL_NAME=
NORMAL_MODEL_BASE_URL=
NORMAL_MODEL_API_KEY=

# =========================
# LOW MODEL
# =========================
LOW_MODEL_NAME=
LOW_MODEL_BASE_URL=
LOW_MODEL_API_KEY=
# =========================
# DATABASE
# =========================
DB_HOST=
DB_PORT=
DB_USER=
DB_PASSWORD=
DB_NAME=
